## Preprocessing

In [1]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

#  Import and read the charity_data.csv.
import pandas as pd 
application_df = pd.read_csv("https://static.bc-edx.com/data/dl-1-2/m21/lms/starter/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [2]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
application_df.drop(columns=['EIN', 'NAME'], inplace=True)

In [3]:
# Get the list of columns in the DataFrame
column_list = application_df.columns.tolist()

# Display the list of columns
print(column_list)

['APPLICATION_TYPE', 'AFFILIATION', 'CLASSIFICATION', 'USE_CASE', 'ORGANIZATION', 'STATUS', 'INCOME_AMT', 'SPECIAL_CONSIDERATIONS', 'ASK_AMT', 'IS_SUCCESSFUL']

In [4]:
# Determine the number of unique values in each column.
unique_counts = application_df.nunique()

# Display the number of unique values in each column
print(unique_counts)

APPLICATION_TYPE            17
AFFILIATION                  6
CLASSIFICATION              71
USE_CASE                     5
ORGANIZATION                 4
STATUS                       2
INCOME_AMT                   9
SPECIAL_CONSIDERATIONS       2
ASK_AMT                   8747
IS_SUCCESSFUL                2
dtype: int64

In [5]:
# Look at APPLICATION_TYPE value counts for binning
application_type_counts = application_df['APPLICATION_TYPE'].value_counts()

# Display the value counts
print(application_type_counts)

T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: APPLICATION_TYPE, dtype: int64

In [6]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
# Set a cutoff value (you can choose any value based on your dataset and requirements)
cutoff_value = 100

# Get the value counts for 'APPLICATION_TYPE'
application_type_counts = application_df['APPLICATION_TYPE'].value_counts()

# Create a list of application types to be replaced with 'Other'
application_types_to_replace = list(application_type_counts[application_type_counts < cutoff_value].index)

# Replace in the dataframe
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app, "Other")

# Check to make sure binning was successful
print(application_df['APPLICATION_TYPE'].value_counts())

T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
T9         156
Other      120
Name: APPLICATION_TYPE, dtype: int64

In [7]:
# Look at CLASSIFICATION value counts for binning
classification_counts = application_df['CLASSIFICATION'].value_counts()

# Display the value counts
print(classification_counts)

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C2190        1
C2600        1
C4120        1
C1732        1
C1248        1
Name: CLASSIFICATION, Length: 71, dtype: int64

In [8]:
# You may find it helpful to look at CLASSIFICATION value counts >1
classification_counts_greater_than_1 = classification_counts[classification_counts > 1]

# Display the filtered value counts
print(classification_counts_greater_than_1)

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C2300       32
C7200       32
C1240       30
C8000       20
C7120       18
C1500       16
C6000       15
C1800       15
C1250       14
C8200       11
C1238       10
C1278       10
C1237        9
C1235        9
C7210        7
C4100        6
C1720        6
C2400        6
C1600        5
C1257        5
C2710        3
C0           3
C1260        3
C3200        2
C1267        2
C1246        2
C1234        2
C1256        2
Name: CLASSIFICATION, dtype: int64

In [9]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
cutoff_value = 1000

# Step 2: Create the list of classifications to be replaced
classifications_to_replace = classification_counts[classification_counts < cutoff_value].index.tolist()

# Replace in dataframe
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")
    
# Check to make sure binning was successful
application_df['CLASSIFICATION'].value_counts()

C1000    17326
C2000     6074
C1200     4837
Other     2261
C3000     1918
C2100     1883
Name: CLASSIFICATION, dtype: int64

In [10]:
application_df

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1
...,...,...,...,...,...,...,...,...,...,...
34294,T4,Independent,C1000,ProductDev,Association,1,0,N,5000,0
34295,T4,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
34296,T3,CompanySponsored,C2000,Preservation,Association,1,0,N,5000,0
34297,T5,Independent,C3000,ProductDev,Association,1,0,N,5000,1
34298,T3,Independent,C1000,Preservation,Co-operative,1,1M-5M,N,36500179,0

In [11]:
# Convert categorical data to numeric with `pd.get_dummies`
# Create a column_list
column_list = ['APPLICATION_TYPE', 'AFFILIATION', 'CLASSIFICATION', 'USE_CASE', 
              'ORGANIZATION', 'SPECIAL_CONSIDERATIONS']

application_df = pd.get_dummies(application_df, columns=column_list)

# Display the updated dataframe
print(application_df.head())

   STATUS     INCOME_AMT  ASK_AMT  IS_SUCCESSFUL  APPLICATION_TYPE_Other  \
0       1              0     5000              1                       0
1       1         1-9999   108590              1                       0
2       1              0     5000              0                       0
3       1    10000-24999     6692              1                       0
4       1  100000-499999   142590              1                       0

   APPLICATION_TYPE_T10  APPLICATION_TYPE_T19  APPLICATION_TYPE_T3  \
0                     1                     0                    0
1                     0                     0                    1
2                     0                     0                    0
3                     0                     0                    1
4                     0                     0                    1

   APPLICATION_TYPE_T4  APPLICATION_TYPE_T5  ...  USE_CASE_Heathcare  \
0                    0                    0  ...                   0
1                    0                    0  ...                   0
2                    0                    1  ...                   0
3                    0                    0  ...                   0
4                    0                    0  ...                   1

   USE_CASE_Other  USE_CASE_Preservation  USE_CASE_ProductDev  \
0               0                      0                    1
1               0                      1                    0
2               0                      0                    1
3               0                      1                    0
4               0                      0                    0

   ORGANIZATION_Association  ORGANIZATION_Co-operative  \
0                         1                          0
1                         0                          1
2                         1                          0
3                         0                          0
4                         0                          0

   ORGANIZATION_Corporation  ORGANIZATION_Trust  SPECIAL_CONSIDERATIONS_N  \
0                         0                   0                         1
1                         0                   0                         1
2                         0                   0                         1
3                         0                   1                         1
4                         0                   1                         1

   SPECIAL_CONSIDERATIONS_Y
0                         0
1                         0
2                         0
3                         0
4                         0

[5 rows x 37 columns]

In [12]:
# Get the list of columns in the DataFrame
column_list = application_df.columns.tolist()

# Display the list of columns
print(column_list)

['STATUS', 'INCOME_AMT', 'ASK_AMT', 'IS_SUCCESSFUL', 'APPLICATION_TYPE_Other', 'APPLICATION_TYPE_T10', 'APPLICATION_TYPE_T19', 'APPLICATION_TYPE_T3', 'APPLICATION_TYPE_T4', 'APPLICATION_TYPE_T5', 'APPLICATION_TYPE_T6', 'APPLICATION_TYPE_T7', 'APPLICATION_TYPE_T8', 'APPLICATION_TYPE_T9', 'AFFILIATION_CompanySponsored', 'AFFILIATION_Family/Parent', 'AFFILIATION_Independent', 'AFFILIATION_National', 'AFFILIATION_Other', 'AFFILIATION_Regional', 'CLASSIFICATION_C1000', 'CLASSIFICATION_C1200', 'CLASSIFICATION_C2000', 'CLASSIFICATION_C2100', 'CLASSIFICATION_C3000', 'CLASSIFICATION_Other', 'USE_CASE_CommunityServ', 'USE_CASE_Heathcare', 'USE_CASE_Other', 'USE_CASE_Preservation', 'USE_CASE_ProductDev', 'ORGANIZATION_Association', 'ORGANIZATION_Co-operative', 'ORGANIZATION_Corporation', 'ORGANIZATION_Trust', 'SPECIAL_CONSIDERATIONS_N', 'SPECIAL_CONSIDERATIONS_Y']

In [14]:
# Split our preprocessed data into our features and target arrays
# Extract the features (input variables) from the DataFrame
X = application_df.drop(columns=['STATUS', 'INCOME_AMT', 'ASK_AMT', 'APPLICATION_TYPE_Other',
                                 'APPLICATION_TYPE_T10', 'APPLICATION_TYPE_T19', 'APPLICATION_TYPE_T3', 'APPLICATION_TYPE_T4',
                                 'APPLICATION_TYPE_T5', 'APPLICATION_TYPE_T6', 'APPLICATION_TYPE_T7', 'APPLICATION_TYPE_T8',
                                 'APPLICATION_TYPE_T9', 'AFFILIATION_CompanySponsored', 'AFFILIATION_Family/Parent',
                                 'AFFILIATION_Independent', 'AFFILIATION_National', 'AFFILIATION_Other',
                                 'AFFILIATION_Regional', 'CLASSIFICATION_C1000', 'CLASSIFICATION_C1200', 'CLASSIFICATION_C2000',
                                 'CLASSIFICATION_C2100', 'CLASSIFICATION_C3000', 'CLASSIFICATION_Other',
                                 'USE_CASE_CommunityServ', 'USE_CASE_Heathcare', 'USE_CASE_Other', 'USE_CASE_Preservation',
                                 'USE_CASE_ProductDev', 'ORGANIZATION_Association', 'ORGANIZATION_Co-operative',
                                 'ORGANIZATION_Corporation', 'ORGANIZATION_Trust', 'SPECIAL_CONSIDERATIONS_N',
                                 'SPECIAL_CONSIDERATIONS_Y'])
y = application_df['IS_SUCCESSFUL']

# Display the shape of X and y
print("Shape of X:", X.shape)
print("Shape of y:", y.shape)

Shape of X: (34299, 1)
Shape of y: (34299,)

In [15]:
# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [16]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

## Compile, Train and Evaluate the Model

In [17]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
# Define the number of input features
input_features = X_train_scaled.shape[1]

nn = tf.keras.models.Sequential()

# Add the input layer
nn.add(tf.keras.layers.InputLayer(input_shape=(input_features,)))

# Add the first hidden layer with 50 neurons and ReLU activation function
nn.add(tf.keras.layers.Dense(50, activation='relu'))

# Add the second hidden layer with 25 neurons and ReLU activation function
nn.add(tf.keras.layers.Dense(25, activation='relu'))

# Add the output layer with 1 neuron and sigmoid activation function (for binary classification)
nn.add(tf.keras.layers.Dense(1, activation='sigmoid'))
# Check the structure of the model
nn.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 50)                100

 dense_1 (Dense)             (None, 25)                1275

 dense_2 (Dense)             (None, 1)                 26

=================================================================
Total params: 1,401
Trainable params: 1,401
Non-trainable params: 0
_________________________________________________________________

In [18]:
# Compile the model
nn.compile(loss='binary_crossentropy', optimizer='adam', metrics=['accuracy'])

In [19]:
# Train the model
history = nn.fit(X_train_scaled, y_train, epochs=10, batch_size=32, validation_split=0.2)

Epoch 1/10
686/686 [==============================] - 2s 2ms/step - loss: 0.0546 - accuracy: 1.0000 - val_loss: 7.7468e-04 - val_accuracy: 1.0000
Epoch 2/10
686/686 [==============================] - 1s 1ms/step - loss: 3.6619e-04 - accuracy: 1.0000 - val_loss: 1.6841e-04 - val_accuracy: 1.0000
Epoch 3/10
686/686 [==============================] - 1s 1ms/step - loss: 1.0731e-04 - accuracy: 1.0000 - val_loss: 6.6563e-05 - val_accuracy: 1.0000
Epoch 4/10
686/686 [==============================] - 1s 1ms/step - loss: 4.7425e-05 - accuracy: 1.0000 - val_loss: 3.2915e-05 - val_accuracy: 1.0000
Epoch 5/10
686/686 [==============================] - 1s 1ms/step - loss: 2.4821e-05 - accuracy: 1.0000 - val_loss: 1.8237e-05 - val_accuracy: 1.0000
Epoch 6/10
686/686 [==============================] - 1s 1ms/step - loss: 1.4216e-05 - accuracy: 1.0000 - val_loss: 1.0798e-05 - val_accuracy: 1.0000
Epoch 7/10
686/686 [==============================] - 1s 1ms/step - loss: 8.5952e-06 - accuracy: 1.0000 - val_loss: 6.6663e-06 - val_accuracy: 1.0000
Epoch 8/10
686/686 [==============================] - 1s 2ms/step - loss: 5.3810e-06 - accuracy: 1.0000 - val_loss: 4.2317e-06 - val_accuracy: 1.0000
Epoch 9/10
686/686 [==============================] - 1s 1ms/step - loss: 3.4487e-06 - accuracy: 1.0000 - val_loss: 2.7380e-06 - val_accuracy: 1.0000
Epoch 10/10
686/686 [==============================] - 1s 1ms/step - loss: 2.2467e-06 - accuracy: 1.0000 - val_loss: 1.7958e-06 - val_accuracy: 1.0000

In [20]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

215/215 - 0s - loss: 1.8065e-06 - accuracy: 1.0000 - 205ms/epoch - 952us/step
Loss: 1.8064722553390311e-06, Accuracy: 1.0

In [23]:
# Export our model to HDF5 file
nn.save('trained_model.h5')